// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D535B;
$light-blue: #0d535b92;
$yellow: #FFC65A;
$orange: #EB7543;
$green: #54D1D9;


$gray: #6B6B6B;
$lighter-gray: #aeaeae;
$light-gray: #edf2f7;
$cold-blue: #a0aec0;
