// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0d535b;
$light-blue: #0d535b;
$yellow: #FFC65A;
$orange: #EB7543;
$green: #54D1D9;
$greener: #2f9e6e;



$gray: #6B6B6B;
$lighter-gray: #aeaeae;
$light-gray: #edf2f7;
$cold-blue: #a0aec0;

// trial colorscheme
// $red: #FD1015;
// $blue: #363946;
// $light-blue: #696773;
// $yellow: #FFC65A;
// $orange: #EB7543;
// $green: #819595;
// $black: #000;
// $beige: #B1B6A6;
