// Specific CSS for your home-page

.light-blue {
  color: $light-blue !important;
}

.custom-shadow-home {
  box-shadow: rgba(30,30,30, 0.3) 0px 1px 2px, rgba(30,30,30, 0.3) 0px 2px 4px, rgba(30,30,30, 0.3) 0px 4px 8px, rgba(30,30,30, 0.3) 0px 8px 16px;
  &:hover {
    box-shadow: 0;
  }
}

.orange-box-shadow {
  box-shadow: rgba($color: $orange, $alpha: 1.0) 6px 6px 1px;
}

.custom-banner-container {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 80%;
  position: relative;
  bottom: 90px;
    p {
      font-weight: bold;
    }
}
.info-content {
  position: relative;
  bottom: 50px;
}
.spacer {
  height: 60px;
}
.home-banner2 {
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(https://ec2-im-1.msw.ms/md/image.php?id=355189&type=PHOTOLAB&resize_type=PHOTOLAB_FULL&fromS3);
  width: 100%;
  height: auto;
  padding-bottom: 8vh;
  background-size: cover;
  background-position: left;
  margin-bottom: 16px;
  h1 {
    color: white;
    font-size: 36px;
  }
  p {
    color: white;
    font-size: 16px;
  }
  h4 {
    color: white;
    opacity: 0.5;
  }
}

.btn-go-homepage {
  border-radius: 50%;
  height: 38px;
  width: 38px;
  object-fit: fill;
  background-color: $orange ;
  border: 1px solid rgb(168, 168, 168);
  color: white;
}



.link {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 34px;
  line-height: 36px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 10px;
  position: relative;
}

.login-link {
  border: 2px solid transparent;
  width: 200px;

  &::after {
    width: 0%;
    height: 2px;
    display: block;
    background-color: #fff;
    content: " ";
    position: absolute;
    top: 34px;
    left: 50%;
    transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &:hover {
    text-decoration: none;
    color: #fff;
    &::after {
      width: 100%;
      height: 2px;
      display: block;
      background-color: #fff;
      content: " ";
      position: absolute;
      top: 34px;
      left: 0;
    }
  }
}

.color-gray {
  color: $light-gray
}

.container-favorites {
  display: flex;
  justify-content: center;

}

// hover effect cards....

// .home-features {
//   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
//   width: 100%;
//   height: 400px;
//   background-size: cover;
//   background-position: left;
//   h1 {
//     color: white;
//     font-size: 36px;
//   }
//   p {
//     color: white;
//     font-size: 16px;
//   }
//   h4 {
//     color: white;
//     opacity: 0.5;
//   }
//   &:hover {
//     img {
//       -webkit-filter: blur(1px);
//       filter: blur(1px);
//     }
//   }
// }

// .bg,
// .overlay {
//   text-align: center;
// }

// img,
// .overlay {
//   transition: .2s all;
//   object-fit: fill;
// }

// .bg {
//   max-width: 100%;
//   height: 400px;
//   position: relative;
//   img {
//     width: 100%;
//     height: 400px;
//     background-size: cover;
//     background-position: left;
//   }
//   .overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     width: 100%;

//     color: #fff;
//     opacity: 0;
//     h2 {
//       // font-family: 'Droid Serif', serif;
//     }
//     p {
//       // font-family: 'Julius Sans One', sans-serif;
//     }
//   }
//   &:hover {
//     .overlay {
//       opacity: 1;
//     }
//     img {
//       -webkit-filter: blur(2px);
//       filter: blur(2px);
//     }
//   }
// }

#bg-compare {
  background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.pexels.com/photos/5302816/pexels-photo-5302816.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  width: 60%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 48px;
  border-radius: 4px;


  // background-repeat: no-repeat;
  // background-position: 75% 80%;
  // margin-bottom: 48px;
  // border-radius: 4px;
}

.home-banner-compare {
  position: relative;
  width: 80%;
  margin: 0 auto;
  h1 {
    color: $blue;
    font-size: 36px;
  }
  p {
    color: $gray;
    font-size: 16px;
  }
  h4 {
    color: $gray;
    opacity: 0.5;
  }
  position: relative;

  .overlay {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    z-index: 1000;
    height: 100%;
    width: 40%;
    margin: 0px auto;
  }
}


.overlay-h1 {
  opacity: 1;
}

.overlay-p {
  opacity: 0;
}

.home-banner-compare:hover {
  .overlay-p {
    opacity: 1;
    transition: 0.5s;
    width: 100%;
  }
  #bg-compare {
    width: 50%;
    transition: 0.5s;
    // webkit-filter: blur(1px); /* Chrome, Safari, Opera */
    // filter: blur(1px);
  }
}

#bg-record {
  background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://cdn.shopify.com/s/files/1/1074/5128/files/Mike-Lay_Niewland-4-Wetsuit.jpg?v=1580905712');
  width: 60%;
  height: 400px;
  position: relative;
  margin-left:auto;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 80%;
  margin-bottom: 48px;
  border-radius: 4px;
}



.home-banner-record {
  position: relative;
  width: 80%;
  margin: 0 auto;
  h1 {
    color: $light-blue;
    font-size: 36px;
  }
  p {
    color: $gray;
    font-size: 16px;
  }
  h4 {
    color: $gray;
    opacity: 0.5;
  }
    .overlay {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    z-index: 1000;
    height: 100%;
    width: 40%;
    margin: 0px auto;
  }
}

.home-banner-record:hover {
  .overlay-p {
    transition: 0.5s;
    opacity: 1;
    width: 100%;
  }
  #bg-record {
    transition: 0.5s;
    width: 50%;
    // webkit-filter: blur(1px); /* Chrome, Safari, Opera */
    // filter: blur(1px);
  }
}

#bg-improve {
  background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://ec2-im-1.msw.ms/md/image.php?id=360910&type=PHOTOLAB&resize_type=PHOTOLAB_FULL&fromS3');
  width: 60%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 80%;
  margin-bottom: 48px;
  border-radius: 4px;

}

.home-banner-improve {
  position: relative;
  width: 80%;
  margin: 0 auto;
  h1 {
    color: $blue;
    font-size: 36px;
  }
  p {
    color: $gray;
    font-size: 16px;
  }
  h4 {
    color: $gray;
    opacity: 0.5;
  }
  .overlay {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    z-index: 1000;
    height: 100%;
    width: 40%;
    margin: 12px auto;
    margin-left: 48px;
  }
}

.home-banner-improve:hover {
  .overlay-p {
    transition: 0.5s;
    opacity: 1;
    width: 100%;
  }
  #bg-improve {
    transition: 0.5s;
    width: 50%;
    // webkit-filter: blur(1px); /* Chrome, Safari, Opera */
    // filter: blur(1px);
  }
}

.custom-my-profile {
  opacity: 0.8;
}

.custom-my-profile:hover {
  text-decoration: none;
  opacity: 0.6;
}

.vertical-align {
  vertical-align: middle;
  height: 300px;
}

.grey-background {
  background: rgba(255, 255, 255, 0.6);
}

.search-width {
  width: 550px;
  padding: 4px 4px 4px 0;
  border-radius: 50px;
}

.custom-form {
  // border-radius: calc((1.5em + 0.75rem + 2px)/2) !important;
  border-radius: 25px 0 0 25px;
  background: none;
  padding: 4px 18px;
  border: none;
  height:  calc(1.5em + 0.75rem + 2px);
}

.custom-form-slider {
  padding: 4px 42px 4px 0;
  border: none;
  height:  calc(1.5em + 0.75rem + 2px);
  position: relative;
}

.custom-pos-h3 {
  opacity: 0.6;
  h3 {
    margin-bottom: 0;
  }
}

.custom-width {
  width: 300px;
}

.height-set {
  height: 200px !important;
}

.algolia-places {
  input {
    color: $light-blue !important;
  }
}


#pages_body {
  ::-webkit-input-placeholder {
    color:$light-blue;
  }
  ::-moz-placeholder {
    color:$light-blue;
  }
  ::-ms-placeholder {
    color:$light-blue;
  }
  ::placeholder {
    color:$light-blue;
  }
}

// .background {
//   background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
//     url(https://images.pexels.com/photos/5674936/pexels-photo-5674936.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
//   width: 100%;
//   height: 400px;
//   background-size: cover;
//   background-position: left;
//   position: sticky;
// }

// etra cards

.extra-cards {
  display: grid;
  height: 250px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .extra-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .extra-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .extra-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .extra-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .extra-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
