// Import page-specific CSS files here.
@import "home";
@import "profile";
@import "spots_index";
@import "show";


.gray-text {
  color: $gray;
}

.black-text {
  color: black;
  margin: 0 2px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 576px) {
  #map-area {
    display: none
  }


  .range-slider-home {
    display: none;
  }

  .search-width {
    margin: 0 auto;
    padding-right: 20px;
    width: 190px;
  }


  .custom-form-slider {
    padding: 4px;
    border-radius: 25px;
  }

  #slider-navbar {
    display: none;
  }

  #search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  #map-area {
    display: none
  }
  .search-width {
    width: 430px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 992px)  {
  #map-area {
    display: none
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
