// Import page-specific CSS files here.
@import "home";
@import "profile";
@import "spots_index";
@import "show";


// Smallest device
@media (min-width: 100px) and (max-width: 768px) {
  #map-area {
    display: none
  }
  .custom-pos-h3 {
    display: none;
  }

  #search-home {
    display: inline !important;
    justify-content: right !important;

  }

  .range-slider-home {
    margin: 0 auto;
    width: 170px;
  }

  .custom-width {
    margin: 0 auto;
    padding-right: 20px;
    width: 190px;
  }

  .custom-form {
    border-radius: 25px;
    margin-bottom: 4px;
  }

  .custom-form-slider {
    padding: 4px;
    border-radius: 25px;
  }

  #slider-navbar {
    display: none;
  }

  #search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
  }

  .btn-go-homepage {
    position: unset;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  #map-area {
    display: none
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 992px)  {
  #map-area {
    display: none
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
