.op-7 {
  opacity: 0.7;
}
.op-6 {
  opacity: 0.6;
}
.op-5 {
  opacity: 0.5;
}
.edit-link {
  font-style: italic;
}

.grey-color {
  color: $gray;
}

.bigger-font{
  font-size: 18px;
}
.select-session {
  background-color :#EDF2F7 !important ;
  font-size: 16px;
}

.white-rounded-background {
  background-color: white;
  border-radius: 10px;
  padding: 14px 28px 14px 28px;
}

.edit-button-description {
  transition: 0.5s;
  color: $gray;
  opacity: 0.8;
  &:hover {
    text-decoration: underline;
    transition: 0.5s;
    opacity: 1;
  }
}

.custom-shadow-profile {
  box-shadow: rgba(30,30,30, 0.15) 0px 1px 2px, rgba(30,30,30, 0.15) 0px 2px 4px, rgba(30,30,30, 0.15) 0px 4px 8px, rgba(30,30,30, 0.15) 0px 8px 16px;
}

  .specific-width {
  width: 400px;
}

.inside-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px 5px 0px;
  position: relative;
}

.inside-container:before {
  content : "";
  position: absolute;
  bottom  : 0;
  left: 0;
  height  : 1px;
  width   : 100%;
  border-bottom:1px solid rgba($color: $lighter-gray, $alpha: 0.5);
}

.custom-content-profile {
  width: 500px;
}

/*.inside-container:not(:last-child):before {
  content : "";
  position: absolute;
  bottom  : 0;
  left: 10%;
  height  : 1px;
  width   : 80%;
}*/

.margin-left {
  margin-left: 14px;
}

.search-bar-profile {
  border: none;
  height: 40px;
}

.hidden {
  display: none !important;
}

.forecast-info {

  p {
    padding: 0px 4px 0px 2px !important;
    color: $secondary !important;
  }
}
.set-height {
  max-height: 200px;
}
