#favorite {
  position: absolute;
  top: 100px;
  right: 50px;
}

.selected {
  font-size: x-large;
  color: $danger;
  &:hover {
    opacity: .8;
  }
}

.unselected {
  font-size: x-large;
  color: white;
  opacity:0.6;
  text-shadow:0px 0px 4px rgba(80, 80, 80, 0.5) !important;
  &:hover {
    text-shadow:0px 0px 4px rgba(80, 80, 80, 0.8) !important;
    opacity:0.8;
  }
}

.alert-position {
  position: absolute;
  left: 200px;
  top: 100px;
  height: 50px;
  width: 400px;
}

.spot-name {
  font-size:3rem;
}

p, i {
  color: $card-gray;
}

.non-sticky {
  position: relative !important;
  width: 100%;
  height: 50%;
  border-radius: $border-radius;
}