.marginY-12 {
  margin: 12px 0;
}

.marker {
  background-image: url('marker-editor.svg');
  background-size: cover;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s;
}

.orange-marker {
  transition: 0.1s;
  height: 60px;
  width: 60px;
  filter: hue-rotate(180deg);
}

.custom {
  transition: 0.2s;
}

.custom:hover {
  transition: 0.2s;
  transform: scale(1.03);
}
