
<div class="home-banner">
  <div class="relative text-right h-90">
    <%=  link_to "Login", root_path, class: "text-white" %>
  </div>
  <div class="vertical-align d-flex flex-column justify-content-center">
    <h1 class="text-center">Find where the surf is cracking near you</h1>
    
  </div>
</div>

