.btn-white {
    border: 1px solid #FFFFFF;
    padding: 8px 24px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
     font-size: 16px;
    &:hover {
        color:rgba(255, 255, 255, 0.7);
        border: 1px solid rgba(255, 255, 255, 0.7);
        text-decoration: none;
        }
}

.btn-back {
  padding: 8px 8px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  &:hover {
      color: rgba(255, 255, 255, 1);
      text-decoration: none;
      }
}
.btn-primary {
  border-radius: 6px !important;
}

.btn-danger {
  border-radius: 6px !important;
}

.nav-link {
  background-color: $light-gray !important;
  border: 1px solid $light-blue !important;
  color: $light-blue !important;
  &:hover {
    color: $primary !important;
    border: 1px solid $primary !important;
  }

  &.active {
    background-color: $primary !important;
    color:white !important;
  
  }

}

#morning-tab {
  border-radius: $border-radius 0px 0px $border-radius;
}

#afternoon-tab {
  border-radius: 0px $border-radius $border-radius 0px;
}

