.btn-white {
    border: 1px solid #FFFFFF;
    padding: 8px 24px;
    border-radius: 4px;
    color: white;
    opacity: 0.7;
    font-size: 16px;
    &:hover {
        color:rgba(255, 255, 255, 0.7);
        border: 1px solid rgba(255, 255, 255, 0.7);
        text-decoration: none;
        }
}

.btn-primary {
  border-radius: 6px !important;
}

.btn-danger {
  border-radius: 6px !important;
}
