.card-spot {
  border-radius: 2px;
  background: white;
  margin-top: 12px;
  margin-bottom: 12px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  display: flex;
  flex-direction: column ;
  width:100%;
  padding: 32px;
  transition: 0.5s;


  &:hover{
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;  }
}

.box-shadow-orange {
  text-shadow: 2px 2px 8px rgba(100, 100, 100, 0.7);
  // box-shadow: rgba(255, 255, 255, 0.05) 0px 1px 2px, rgba(255, 255, 255, 0.05) 0px 2px 4px, rgba(255, 255, 255, 0.05) 0px 4px 8px, rgba(255, 255, 255, 0.05) 0px 8px 16px, rgba(255, 255, 255, 0.05) 0px 16px 32px, rgba(255, 255, 255, 0.05) 0px 32px 64px;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    box-shadow: rgba($color: $orange, $alpha: 1.0) 6px 6px 1px;
    transform: scale(1.05);

  }
}

.box-shadow-orange {

}


.card-spot h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  color:#0D535B;
  margin-bottom: 12px;
}
.card-spot p {
  opacity: 0.7;
  color: #4A5568;
}

.card-spot .card-spot-info {
  display: flex;
  flex-flow: row wrap;
  padding-right: 8px;

  div {
    padding-right: 16px;
  }

  p {
    margin-bottom:0;
    font-weight: 400;
  }
}

.card-spot-top {
  display: flex;
  justify-content: space-between;
}



.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-top {
  border-radius: $border-radius $border-radius 0 0;
  height: 100px;
  padding: 16px;
  vertical-align: middle;
  background-color: $primary;
}

.card-content {
 & p {
    margin: 0px;
    font-size: 16px;
  }

  & i {
    vertical-align: bottom;
    font-size: 20px;
  }
  & div {
    margin: 4px 0px;
  }
}


.card-description {
  border-radius: 2px;
  background: white;
  margin-bottom: 12px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  display: flex;
  text-align: left;
  flex-direction: column ;
  width:100%;
  height: 335px;
  padding: 32px;
  transition: 0.5s;


  &:hover{
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;  }
  }

.custom-alignement {
  position: relative;
  right: -14px;
}

#forecast-card-content {
  p {
    font-size: 20px;
  }
  h5 {
    opacity: 0.6;
    font-size: 18px;
  }
}
