.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  color: white;
  font-weight: bold;
  margin: 0 0 0 10px;
}

.btn-opacity {
  opacity: 0.8;
}

.login-button {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: light;
}

.search-bar-navbar {
  position: absolute;
  left: 150px;
  width: 350px;
}

.form-radius {
  border-radius: 20px;
}
