.navbar-lewagon {
  justify-content: space-between;
  background: $light-blue;
  position: relative;
  ::-webkit-input-placeholder {
    color:white;
  }
  ::-moz-placeholder {
    color:white;
  }
  ::-ms-placeholder {
    color:white;
  }
  ::placeholder {
    color:white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 89px;
}

.custom-form-slider-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0 25px 25px 0;
  padding: 4px 42px 4px 0;
  border: none;
  height:  calc(1.5em + 0.75rem + 2px);
}

.logo {
  color: white;
  font-weight: bold;
  margin: 0 0 0 10px;
  padding-bottom: 4px;
}

.search-bar-navbar {
  position: absolute;
  left: 150px;
  width: 350px;
  ::-webkit-input-placeholder {
    color: rgb(48, 48, 48);
  }
  .ap-input-icon.ap-icon-pin {
    display: none;
  }
}

.nav-link-custom {
  padding: 0;
  padding-right:0;
  padding-left: 0;
}

.form-radius {
  border-radius: 20px;
  background-color: $cold-blue;
  opacity: 0.5;
}

.btn-go-navbar {
  border-radius: 50%;
  height: 38px;
  width: 38px;
  object-fit: fill;
  background-color: $orange;
  border: 1px solid rgb(168, 168, 168);
  position: absolute;
  right: 22px;
  top: 8px;
  color: white;
  opacity: 0.8;
}

.navbar-container {
  position: absolute;
  left: 120px;
}

.gradient-btn {
  background: linear-gradient(45deg, rgba(#e21c1c,1) 0%, rgba(#e2751c,1) 100%);
}

.custom-pos-h3-navbar {
  position: absolute;
  right: 279px;
  top: 24px;
  opacity: 0.6;
}
