.shaka-dark {
    height: 25px;
    width: auto;
    display: block;
    
    path {
      fill: $dark !important;
    }
}

.shaka-container {
  border-radius: $border-radius-sm;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 4px 4px;
}

.shaka-white {
  height: 25px;
}

.shaka-small {
  height: 20px;
  width: auto;
  display: block;
  
  path {
    fill: $light !important;
  }
}