.shaka-dark {
    display: block;

    path {
      fill: $light-blue !important;
    }
}

.shaka-white {

  display: block;
  opacity: 0.3;
  path {

    fill: $gray !important;
  }


}

.shaka-small {
  height: 24px !important;
}
